<ion-header>
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{strNewsCatName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  #container>
    <!-- <ion-list>
        <ion-item *ngFor="let i of listOfNews" >
          <ion-thumbnail item-start>
              <img [src]="i.newsImage" (click)="getNewsID(i.newsID,i.newsCategoryName,i.newsTitle,i.newsCategoryID)"  >
          </ion-thumbnail>
          <h2  text-wrap (click)="getNewsID(i.newsID,i.newsCategoryName,i.newsTitle,i.newsCategoryID)">{{i.newsTitle}}</h2>
          <ion-icon style="font-size: 1em" name="calendar">&nbsp;{{i.newsDate}}&nbsp;</ion-icon>
          <ion-icon style="font-size: 1em" name="ios-text">&nbsp;{{i.activecomments}}</ion-icon>
        </ion-item>        
      </ion-list> -->

<ion-card *ngFor="let i of listOfNews" >
  <img [defaultImage]="'../assets/imgs/lazyBritLogo.png'" [lazyLoad]="i.newsImage" (click)="getNewsID(i.newsID,i.newsCategoryName,i.newsTitle,i.newsCategoryID)"
    [scrollObservable]="container.ionScroll" />
    <!-- <img [src]="i.newsImage" (click)="getNewsID(i.newsID,i.newsCategoryName,i.newsTitle,i.newsCategoryID)"> -->
  
  
    <ion-card-content>
      <p (click)="getNewsID(i.newsID,i.newsCategoryName,i.newsTitle,i.newsCategoryID)">{{i.newsTitle}}</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col col-4>
        <button ion-button icon-start clear small>
          <ion-icon name="clock"></ion-icon>
          <div>{{i.newsDate}}</div>
        </button>
      </ion-col>
      <ion-col col-4 style="text-align: center;">
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{i.activecomments}}</div>
        </button>
      </ion-col>
  
      <ion-col col-4>
        <button ion-button icon-start clear small>
          <ion-icon name="share-alt"></ion-icon>
          <div (click)="shareNews(i.newsTitle,i.newsID)">Share</div>
        </button>
      </ion-col>
  
    </ion-row>
  
  </ion-card>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>       
         
</ion-content>
