  .card-background-page {

    ion-card {
      position: relative;
      text-align: left;
    }
  
    .card-title {
      position: absolute;
      top: 10%;
      left:10px;
      font-size: 1em;
      font-style: normal;
      color: #fff;
      background-color: #E91E63;
     
      border: none;
      padding: 10px 20px;
      text-decoration: none;
    }
   
  }