<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle (click)="toggleMenu();">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{toolBarName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div *ngIf="isHideLeague" >
    <div *ngFor="let i of scoreJson">
      <ion-card>
        <ion-item>
          <h1 text-center>{{i.tname}}</h1>
        </ion-item>
  
        <img  style="width:160px;height:160px; margin: auto; padding: 10px;" [src]="i.logo">
  
        <div padding-left padding-right>
          <table width="100%">
            <tr style="border-bottom: 2px solid #eeeeee;">
              <td class="colorPink" >Played</td>
              <td><b>{{i.playedtotal}}</b></td>
              <td>&nbsp;</td>
              <td class="colorPink">Won</td>
              <td><b>{{i.wintotal}}</b></td>
            </tr >
  
            <tr style="border-bottom: 2px solid #eeeeee;">
              <td class="colorPink">Lost</td>
              <td><b>{{i.losstotal}}</b></td>
  
              <td>&nbsp;</td>
              <td class="colorPink">Drawn</td>
              <td><b>{{i.drawtotal}}</b></td>
            </tr>
  
            <tr style="border-bottom: 2px solid #eeeeee;">
              <td class="colorPink">Goal For</td>
              <td><b>{{i.goalsfortotal}}</b></td>
  
              <td>&nbsp;</td>
              <td class="colorPink">Goal Against</td>
              <td><b>{{i.goalsagainsttotal}}</b></td>
            </tr>
  
            <tr style="border-bottom: 2px solid #eeeeee;">
              <td class="colorPink">Goal GD</td>
              <td><b>{{i.goaldifftotal}}</b></td>
  
              <td>&nbsp;</td>
              <td class="colorPink">Points</td>
              <td><b>{{i.pointstotal}}</b></td>
            </tr>
  
          </table>
        </div>
      </ion-card>
    </div>
  </div>

  <div *ngIf="isHideChampLeague" padding-left padding-right padding-bottom >
    <div *ngFor="let i of scoreJson"  >
      <h2 text-center [innerHTML]="i.name" ></h2>
        
        <table width="100%">
          <tr>
            <th colspan="2">Team Name</th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>F</th>
            <th>GA</th>
            <th>GD</th>
            <th>PT</th>
          </tr>
       
        <tr *ngFor="let g of i.tables" style="border-bottom: 1px solid #eeeeee;">
          <td>{{g.tname}}</td>
          <td text-center><img style="vertical-align: middle;" [src]="g.logo" height="25" width="25" ></td>
          <td text-center>{{g.playedtotal}}</td>
          <td text-center>{{g.wintotal}}</td>
          <td text-center>{{g.drawtotal}}</td>
          <td text-center>{{g.losstotal}}</td>
          <td text-center>{{g.goalsfortotal}}</td>
          <td text-center>{{g.goalsagainsttotal}}</td>
          <td text-center>{{g.goaldifftotal}}</td>
          <td text-center>{{g.pointstotal}}</td>
        </tr>
        </table>
    </div>
  </div>

  <div *ngIf="strNewsCat ==='iplStandings'" padding  >
    <table width="100%" >
      <tr>
        <th text-center colspan="2" >Teams</th>
        <th text-center>P</th>
        <th text-center>W</th>
        <th text-center>L</th>
        <th text-center>D</th>
        <th text-center>NR</th>
        <th text-center>PTS</th>
        <th text-center>NRR</th>
      </tr>
      <tr *ngFor="let ipl of iplJson" style="border-bottom: 1px solid #eeeeee;"  >
        <img height="25" width="25" [src]="iplLogo(ipl.team.title)" />
        <td>{{ipl.team.abbr}}</td>
        <td text-center>{{ipl.played}}</td>
        <td text-center>{{ipl.win}}</td>
        <td text-center>{{ipl.loss}}</td>
        <td text-center>{{ipl.draw}}</td>
        <td text-center>{{ipl.nr}}</td>
        <td text-center>{{ipl.points}}</td>
        <td text-center>{{ipl.netrr}}</td>
      </tr>
    </table>
  </div>

</ion-content>