<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle (click)="toggleMenu();">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{toolBarName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div *ngIf="competitionMode === 'championsLeague'">
    <div *ngFor="let s of scoreJson">
    <ion-card *ngFor="let i of s.group" >
      <ion-item>
        <h1 text-center>{{i.teamName}}</h1>
      </ion-item>
    
      <img width="160" height="160" [src]="i.teamImage">
    
      <div padding-left padding-right>
        <table width="100%">
          <tr>
            <td>Played</td>
            <td>{{i.played}}</td>
            <td>&nbsp;</td>
            <td>Won</td>
            <td>{{i.won}}</td>
          </tr>
    
          <tr>
            <td>Lost</td>
            <td>{{i.lost}}</td>
    
            <td>&nbsp;</td>
            <td>Drawn</td>
            <td>{{i.drawn}}</td>
          </tr>
    
          <tr>
            <td>Goal For</td>
            <td>{{i.goalFor}}</td>
    
            <td>&nbsp;</td>
            <td>Goal Against</td>
            <td>{{i.goalAgainst}}</td>
          </tr>
    
          <tr>
            <td>Goal GD</td>
            <td>{{i.goalGD}}</td>
    
            <td>&nbsp;</td>
            <td>Points</td>
            <td>{{i.points}}</td>
          </tr>
    
        </table>
      </div>
    </ion-card>
    </div>
  </div>

  <div *ngIf="competitionMode === 'premierLeague'">
    <ion-card *ngFor="let i of scoreJson"  >    
      <ion-item>
        <h1 text-center >{{i.teamName}}</h1>
      </ion-item>
    
      <img width="160" height="160" [src]="i.teamImage">
       
      <div padding-left padding-right >
      <table width="100%">
        <tr>
          <td>Played</td>
          <td>{{i.played}}</td>
          <td>&nbsp;</td>
          <td>Won</td>
          <td>{{i.won}}</td>
        </tr>

        <tr>
          <td>Lost</td>
          <td>{{i.lost}}</td>
        
          <td>&nbsp;</td>
          <td>Drawn</td>
          <td>{{i.drawn}}</td>
        </tr>

        <tr>
          <td>Goal For</td>
          <td>{{i.goalFor}}</td>
        
          <td>&nbsp;</td>
          <td>Goal Against</td>
          <td>{{i.goalAgainst}}</td>
        </tr>

        <tr>
          <td>Goal GD</td>
          <td>{{i.goalGD}}</td>
        
          <td>&nbsp;</td>
          <td>Points</td>
          <td>{{i.points}}</td>
        </tr>

      </table>
      </div>
    </ion-card>
  </div>

  <div *ngIf="competitionMode === 'ipl'" >
    <div padding >
    <table  width="100%" >
      <thead>
      <tr>
        <th colspan="2">Team Name</th>
        <th>M</th>
        <th>W</th>
        <th>L</th>
        <th>T</th>
        <th>NR</th>
        <th>Pts</th>
      </tr>
      </thead>
      <tr *ngFor="let i of scoreJson" >
          <td text-center padding-top><img width="25" height="25" [src]="i.teamImage" alt=""></td>
          <td>{{i.teamName}}</td>
          <td text-center >{{i.match}}</td>
          <td text-center>{{i.won}}</td>
          <td text-center>{{i.lost}}</td>
          <td text-center>{{i.tied}}</td>
          <td text-center>{{i.noResult}}</td>
          <td text-center>{{i.points}}</td>
      </tr>
    </table>
    </div>
  </div>
</ion-content>
